<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gwnbs.solitaire">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/SolitaireTheme"
        android:supportsRtl="true"
        tools:ignore="AllowBackup">
        <activity
            android:name="com.gwnbs.solitaire.SolitaireCG"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gwnbs.solitaire.Preferences"
            android:label="@string/options_title" />
        <activity android:name="com.gwnbs.solitaire.Help" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>
    </application>
</manifest>
